fastapi
uvicorn[standard]
python-multipart
pydantic
python-dotenv
requests

torch
torchvision
torchaudio
numpy
pillow
opencv-python
scikit-learn
tqdm
matplotlib

transformers
sentencepiece
faiss-cpu

onnx
onnxruntime
